/* Variables */
/* VARIABLES */
/* MIXINS */
.button {
  background-color: #D6AD3D;
  color: #FBF3D6;
  font-family: 'Caprasimo';
  padding: 0.8rem 1.5rem;
  font-weight: normal;
}
.transDuration {
  transition-duration: 0.2s;
}
.transition {
  transition: transform 0.2s ease;
}
.filter {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
}
.flexAlignCenter {
  display: flex;
  align-items: center;
}
/* Section Site Map */
div#siteMapSection {
  font-family: 'Quicksand';
  font-size: 2.4rem;
}
div#siteMapSection ul {
  list-style: none;
}
div#siteMapSection ul a {
  color: #2B2B66;
}
div#siteMapSection ul a i {
  display: none;
  margin-left: 1rem;
  font-size: 2rem;
}
div#siteMapSection ul a:hover {
  text-decoration: underline;
}
div#siteMapSection ul a:hover i {
  display: inline-block;
}
div#siteMapSection ul li.prime {
  font-weight: bold;
}
div#siteMapSection ul li.prime:nth-child(2) {
  margin-top: 1rem;
}
div#siteMapSection ul.content,
div#siteMapSection ul .saisons {
  font-size: 2rem;
  margin-left: 2rem;
}
div#siteMapSection ul.content {
  color: #D6AD3D;
}
div#siteMapSection ul.content li:first-child {
  margin-top: 1rem;
}
div#siteMapSection ul.content li:last-child {
  margin-bottom: 1rem;
}
div#siteMapSection ul.content a {
  color: #ABABC2;
}
div#siteMapSection ul.content a i {
  font-size: 1.6rem;
}
