/* Variables */
/* VARIABLES */
/* MIXINS */
.button {
  background-color: #D6AD3D;
  color: #FBF3D6;
  font-family: 'Caprasimo';
  padding: 0.8rem 1.5rem;
  font-weight: normal;
}
.transDuration {
  transition-duration: 0.2s;
}
.transition {
  transition: transform 0.2s ease;
}
.filter {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
}
.flexAlignCenter {
  display: flex;
  align-items: center;
}
/* Section Members */
#members .row .col-6 {
  margin-bottom: 5rem;
}
#members .member {
  position: relative;
  z-index: 1;
}
#members .member .memberTitle {
  width: 100%;
  padding: 1.8rem 2.5rem;
  background-color: rgba(0, 0, 71, 0.9);
  opacity: 0.9;
  position: absolute;
  bottom: 0;
  z-index: 3;
}
#members .member .memberTitle h2 {
  color: #FBF3D6;
  font-size: 2.4rem;
  margin-bottom: 0;
}
#members .member .memberTitle p {
  color: #ABABC2;
  font-weight: 500;
  margin-bottom: 0;
}
#members .member img {
  width: 100%;
  filter: grayscale(1);
}
#members .member::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #D6AD3D;
  opacity: 0.2;
  z-index: 2;
}
