/* Variables */
/* VARIABLES */
/* MIXINS */
.button {
  background-color: #D6AD3D;
  color: #FBF3D6;
  font-family: 'Caprasimo';
  padding: 0.8rem 1.5rem;
  font-weight: normal;
}
.transDuration {
  transition-duration: 0.2s;
}
.transition {
  transition: transform 0.2s ease;
}
.filter {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
}
.flexAlignCenter {
  display: flex;
  align-items: center;
}
/* HELPERS */
.bleu {
  color: #2B2B66;
}
.beige {
  color: #FBF3D6;
}
.bgBeige {
  background-color: #FBF3D6;
}
.marginBot25 {
  margin-bottom: 2.5rem;
}
.marginBot50 {
  margin-bottom: 5rem;
}
/* GLOBAL */
html {
  font-size: 62.5%;
}
* {
  font-family: 'Quicksand';
}
h1,
h2,
h3 {
  font-family: 'Caprasimo';
}
h1 {
  font-size: 2.4rem;
  color: #FBF3D6;
}
h1.mainTitle {
  font-size: 3.8rem;
  line-height: 3rem;
}
@media screen and (min-width: 768px) {
  h1 {
    line-height: 6rem;
    font-size: 6.4rem;
  }
  h1.mainTitle {
    font-size: 8.4rem;
  }
}
h2 {
  font-size: 2rem;
  color: #967000;
}
h2.blueTitle {
  color: #2B2B66;
}
@media screen and (min-width: 768px) {
  h2 {
    font-size: 3.6rem;
  }
}
h3 {
  font-size: 1.6rem;
  color: #967000;
}
h3.iconsTitle {
  font-size: 1.4rem;
  font-family: 'Quicksand';
  color: #2B2B66;
  font-weight: bold;
}
h3.memberName {
  color: #FBF3D6;
}
@media screen and (min-width: 768px) {
  h3 {
    font-size: 2.4rem;
  }
  h3.iconsTitle {
    font-size: 3rem;
  }
}
sup {
  font-family: inherit;
}
p {
  color: #2B2B66;
  font-size: 1.2rem;
}
@media screen and (min-width: 768px) {
  p {
    font-size: 1.6rem;
  }
}
a {
  text-decoration: none;
}
section:not(:last-child) {
  padding: 10rem 0;
}
/* NAVBAR */
header {
  background-color: #000047;
  padding: 2rem;
  position: fixed;
  top: 0;
  z-index: 999;
  transition-duration: 0.2s;
}
header.sticky {
  background-color: rgba(0, 0, 71, 0.9);
  padding: 1rem;
  transition-duration: 0.2s;
}
header.change {
  height: 100vh;
}
header .logoContainer {
  height: 5rem;
}
header .logoContainer img {
  height: inherit;
}
header a {
  display: inline-block;
  margin-left: 1.5rem;
  font-size: 1.4rem;
  font-weight: bold;
  color: #ABABC2;
  transition-duration: 0.2s;
}
header a:hover {
  color: #FBF3D6;
  transition-duration: 0.2s;
}
header a.contactBtn {
  background-color: #D6AD3D;
  color: #FBF3D6;
  font-family: 'Caprasimo';
  padding: 0.8rem 1.5rem;
  font-weight: normal;
  font-size: 1.6rem;
}
@media screen and (min-width: 992px) {
  header a {
    margin-left: 5rem;
    font-size: 1.6rem;
  }
  header a.contactBtn {
    font-size: 1.8rem;
  }
}
header .burgerIcon {
  position: relative;
  width: 3.8rem;
  height: 1.5rem;
  display: flex;
  align-items: center;
}
header .burgerIcon::before {
  position: absolute;
  content: "";
  background-color: white;
  width: 100%;
  height: 0.4rem;
  border-radius: 0.5rem;
  transform: rotate(0) translateY(-0.6rem);
  transition: transform 0.2s ease;
}
header .burgerIcon::after {
  position: absolute;
  content: "";
  background-color: white;
  width: 100%;
  height: 0.4rem;
  border-radius: 0.5rem;
  transform: rotate(0) translateY(0.6rem);
  transition: transform 0.2s ease;
}
header .burgerIcon.change::before {
  transform: rotate(25deg) translateY(0);
}
header .burgerIcon.change::after {
  transform: rotate(-25deg) translateY(0);
}
header #modalNav {
  text-align: center;
  display: none;
  height: 90%;
}
header #modalNav.change {
  display: flex;
}
header #modalNav nav {
  margin-bottom: 7.5rem;
}
header #modalNav nav li:not(:last-child) {
  margin-bottom: 2.5rem;
}
header #modalNav a {
  margin-left: 0;
  font-size: 2.4rem;
}
header #modalNav a.contactBtn {
  margin-left: 0;
}
/* HERO BANNER */
#hero {
  background-image: url(../../img/Curtain.webp);
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 0;
  display: flex;
  align-items: center;
}
#hero::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  z-index: 1;
  background-color: #000047;
  opacity: 0.3;
}
/* RESEAUX */
#reseaux {
  background-image: url(../../img/Curtain.webp);
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 0;
}
#reseaux::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  z-index: 1;
  background-color: #000047;
  opacity: 0.3;
}
#reseaux .container {
  position: relative;
  z-index: 2;
}
#reseaux .container .row h2 {
  color: #FBF3D6;
}
#reseaux .container .row h2 span {
  font-family: 'Caprasimo';
  color: #D6AD3D;
}
#reseaux .container .row .socials i {
  color: #ABABC2;
  font-size: 8rem;
  margin-left: 2.5rem;
  transition-duration: 0.2s;
}
#reseaux .container .row .socials i:hover {
  color: #FBF3D6;
}
/* FOOTER */
footer .footUp {
  background-color: #000047;
  padding: 3.5rem;
}
@media screen and (min-width: 576px) {
  footer .footUp {
    padding: 3.5rem 0;
  }
}
footer .footUp .logoContainer {
  margin-bottom: 2.5rem;
}
@media screen and (min-width: 576px) {
  footer .footUp .logoContainer {
    margin-bottom: 0;
  }
}
footer .footUp .logoContainer img {
  opacity: 0.6;
  height: 5rem;
}
@media screen and (min-width: 576px) {
  footer .footUp .logoContainer img {
    height: 5rem;
  }
}
footer .footUp nav {
  text-align: center;
}
@media screen and (min-width: 576px) {
  footer .footUp nav {
    text-align: end;
  }
}
footer .footUp nav ul {
  margin: 0;
}
footer .footUp nav ul li:not(:last-child) {
  margin-bottom: 0.5rem;
}
footer .footUp nav ul li a {
  font-size: 1.2rem;
  font-weight: bold;
  color: #ABABC2;
  transition-duration: 0.2s;
}
footer .footUp nav ul li a:hover {
  color: #FBF3D6;
  transition-duration: 0.2s;
}
footer .footDown {
  padding: 0.8rem 2rem;
  background-color: #FBF3D6;
  color: #000047;
  font-weight: bold;
  font-size: 0.9rem;
  text-align: center;
}
@media screen and (min-width: 576px) {
  footer .footDown {
    font-size: 1.2rem;
    padding: 1rem 0;
  }
}
