/* Variables */
/* VARIABLES */
/* Section Hero */
#hero {
  height: 100vh;
  background-position: bottom;
}
#hero h1 {
  width: 100%;
}
#hero h1 span {
  font-size: 2.4rem;
  color: #D6AD3D;
  font-weight: bold;
}
@media screen and (min-width: 768px) {
  #hero h1 span {
    font-size: 4.8rem;
  }
}
#hero i {
  font-size: 5rem;
  color: #ABABC2;
}
#hero > .container {
  position: relative;
  z-index: 2;
  height: 100%;
}
#hero > .container .row {
  height: 100%;
  padding-top: 15%;
}
#presentation img {
  width: 100%;
}
#presentation .icons img {
  width: 50%;
  margin-bottom: 2rem;
}
#news img {
  width: 100%;
  margin-bottom: 1.5rem;
}
