/* Variables */
/* VARIABLES */
/* MIXINS */
.button {
  background-color: #D6AD3D;
  color: #FBF3D6;
  font-family: 'Caprasimo';
  padding: 0.8rem 1.5rem;
  font-weight: normal;
}
.transDuration {
  transition-duration: 0.2s;
}
.transition {
  transition: transform 0.2s ease;
}
.filter {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
}
.flexAlignCenter {
  display: flex;
  align-items: center;
}
/* Section Contact */
#contact h2 {
  margin-bottom: 1.5rem;
}
#contact .maps {
  height: 26.5rem;
}
#contact .maps iframe {
  width: 100%;
  height: 100%;
  margin-top: 1.5rem;
  border: none;
}
#contact form {
  font-size: 1.5rem;
}
#contact form .row {
  --bs-gutter-x: 1.5rem;
  /* Largeur de gouttière bootstrap */
}
#contact form h2 {
  margin-bottom: 2rem;
}
#contact form label {
  display: none;
}
#contact form input,
#contact form textarea {
  background-color: #F5F5F5;
  border: none;
  width: 100%;
  padding: 1.2rem 1.7rem;
  margin-bottom: 2rem;
  color: #967000;
  font-weight: 600;
}
#contact form input::placeholder,
#contact form textarea::placeholder {
  font-weight: normal;
  color: #ABABC2;
}
#contact form input:focus:not(input[type=submit]),
#contact form textarea:focus:not(input[type=submit]),
#contact form input:focus-visible,
#contact form textarea:focus-visible {
  background-color: #FFFFFF;
  border: 0.1rem solid #2B2B66 !important;
}
#contact form input.formBtn,
#contact form textarea.formBtn {
  background-color: #D6AD3D;
  color: #FBF3D6;
  font-family: 'Caprasimo';
  padding: 0.8rem 1.5rem;
  font-weight: normal;
  width: auto;
  font-size: 1.8rem;
  margin-bottom: 0;
}
