/* Variables */
/* VARIABLES */
/* MIXINS */
.button {
  background-color: #D6AD3D;
  color: #FBF3D6;
  font-family: 'Caprasimo';
  padding: 0.8rem 1.5rem;
  font-weight: normal;
}
.transDuration {
  transition-duration: 0.2s;
}
.transition {
  transition: transform 0.2s ease;
}
.filter {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
}
.flexAlignCenter {
  display: flex;
  align-items: center;
}
/* Section Contact */
