/* Variables */
@import "../../variables/variables.less";

/* Section seasonPlay */
div#seasonPlay{
    section#actual{
        .grid{
            display: block;
            .poster{
                img{
                    width:100%;
                }
            }
            .description{
                ul{
                    list-style: none;
                    padding-left:0;
                    li{
                        color:@bleu;
                        font-size: 1.2rem;
                        @media screen and (min-width: 768px) {
                            font-size: 1.6rem;
                        }
                    }
                }
            }
            @media screen and (min-width: 576px) {
                display:grid;
                grid-template-rows: 0 auto;
                grid-template-columns: repeat(2, 1fr);
                gap:7.5rem;
                .poster{
                    grid-row: 1/3;
                    grid-column: 1/2;
                }
                .title, .description{
                    grid-column: 2/3;
                }
                .title{
                    grid-row: 1/2;
                }
                .description{
                    grid-row: 2/3;
                }
            }
        }
    }
    section#othersPlay{
        padding: 0 0 10rem 0; // Pour réinitialiser écraser le padding appliqué à toutes les sections;
        img{
            width:100%;
            margin-bottom: 1rem;
        }
        a{
            color:@orange;
            font-weight: bold;
            i{
                display:none;
            }
            &:hover{
                color:@bleuClair;
                i{
                    color:@orange;
                    display: inline-block;
                }
            }
        }
    }
}