/* Variables */
/* VARIABLES */
/* MIXINS */
.button {
  background-color: #D6AD3D;
  color: #FBF3D6;
  font-family: 'Caprasimo';
  padding: 0.8rem 1.5rem;
  font-weight: normal;
}
.transDuration {
  transition-duration: 0.2s;
}
.transition {
  transition: transform 0.2s ease;
}
.filter {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
}
.flexAlignCenter {
  display: flex;
  align-items: center;
}
/* Section seasonPlay */
div#seasonPlay section#actual .grid {
  display: block;
}
div#seasonPlay section#actual .grid .poster img {
  width: 100%;
  margin-bottom: 2.5rem;
}
@media screen and (min-width: 768px) {
  div#seasonPlay section#actual .grid .poster img {
    margin-bottom: 0;
  }
}
div#seasonPlay section#actual .grid .description ul {
  list-style: none;
  padding-left: 0;
}
div#seasonPlay section#actual .grid .description ul li {
  color: #2B2B66;
  font-size: 1.2rem;
}
@media screen and (min-width: 768px) {
  div#seasonPlay section#actual .grid .description ul li {
    font-size: 1.6rem;
  }
}
@media screen and (min-width: 576px) {
  div#seasonPlay section#actual .grid {
    display: grid;
    grid-template-rows: 0 auto;
    grid-template-columns: repeat(2, 1fr);
    gap: 7.5rem;
  }
  div#seasonPlay section#actual .grid .poster {
    grid-row: 1/3;
    grid-column: 1/2;
  }
  div#seasonPlay section#actual .grid .title,
  div#seasonPlay section#actual .grid .description {
    grid-column: 2/3;
  }
  div#seasonPlay section#actual .grid .title {
    grid-row: 1/2;
  }
  div#seasonPlay section#actual .grid .description {
    grid-row: 2/3;
  }
}
div#seasonPlay section#othersPlay {
  padding: 0 0 10rem 0;
}
div#seasonPlay section#othersPlay img {
  width: 100%;
  margin-bottom: 1rem;
}
